@media (min-width: 1000px){
    .block-5__description{
        padding: .8rem;
    }
    .block-5__text1{
        font-size: 1.1rem;
    }
    .block-5__text2{
        font-size: .6rem;
    }
    .block-5__hr{
        height: .2rem;
    }
    .block-5__description svg{
        text-align: bottom;
    }
    .block-5__description svg{
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media (max-width: 1200px){
    p{
        font-size: 0.9rem;
    }
}
@media (max-width: 1000px){
    html{
        font-size: 14px;
    }
}
@media (max-width: 800px){
    .content{
        max-width: 40rem;
        width: auto;
        padding: 0 0.75rem;
    }
    .logo__menu__col1 {
        width: 14%;
    }
    .logo__menu__col2{
        margin: 0px 0 0 4rem;
        width: 59%;
    }
    .menu__item {
        margin-left: 0.8rem;
    }
    .logo__menu__col1 img {
        height: 1.91rem;
        width: 8rem;
    }
    .logo__menu__col3{
        padding: 0;
        width: 17%;
    }
    h1 {
        font-size: 3.8rem;
    }
    .descriptors__two {
        font-size: 2.2rem;
    }
    .top-block {
        min-height: 0;
    }

    .block-3{
        min-height: 0;
    }
    .block-2{
        width: auto;
        padding-top: 1rem;
    }
    .block2__info {
        width: 100%;
        top: -17.75rem;
        position: static;
        margin: 0 0 3rem;
        padding: 1.5rem
    }
    .block-2__row{
        flex-wrap: wrap;
        text-align: center;
    }
}
@media (max-width: 600px){
    h1{
        font-size: 3.2rem;
    }
    .descriptors__two {
        font-size: 1.4rem;
    }
    .logo__menu__col1 img{
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
    }
    .menu__icon{
        display: inline-block;
      }

    .menu__list{
        position: absolute;
        display: none;
        top: .7rem;
        right: 0;
        left: 0;
        margin-top: 2.6rem;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1000;
        overflow: auto;
    }
    .menu__item{
        display: block;
        padding: 0.5rem 0;
        text-align: center;
        color: #ffffff;
    }
    .menu__link{
        font-size: 1rem;
    }
    .logo__menu__col3{
        display: none;
    }
}

